@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url("../imagen/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

footer{
    position: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

h4{
    color: white;
}